<div class="timer">
  <h4> باقي </h4>

  <div class="days">
    <div>{{daysToDday| number: '2.0-0'}}</div>
    <div>يوم</div>
  </div>

  <div class="days">
      <div>{{hoursToDday| number: '2.0-0'}}</div>
      <div>ساعة</div>
    </div>

  <div class="days">
        <div>{{minutesToDday| number: '2.0-0'}}</div>
        <div>دقيقة</div>
  </div>

  <div class="days">
          <div>{{secondsToDday| number: '2.0-0'}}</div>
          <div>ثانية</div>
  </div>


</div>




<!--
  <div>يوم</div>  <span id="days"> {{daysToDday| number: '2.0-0'}} </span>
    <span id="hours"> {{hoursToDday| number: '2.0-0'}} </span>
     <span id="minutes"> {{minutesToDday| number: '2.0-0'}} </span>
      <span id="seconds"> {{secondsToDday| number: '2.0-0'}} </span>
</div>
<div class="timerHeadliners">
    <span id="hours"> دقيقة </span>
     <span id="minutes"> ساعة </span>
      <span id="seconds"> يوم </span>
</div> -->
