<ion-header>
    <ion-toolbar color="primary" mode="ios">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/orders-for-us'>back</ion-back-button>
          </ion-buttons>

      <ion-title routerLink='/'>Twiick</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-content>



      <ion-grid *ngIf = "doneLoading && !langugue">
          <ion-row>
            <ion-col size="12" offset="">
              <ion-item class="confirmationMsg">
                  <h3 class="checkoutTitle">My order</h3><br>
              </ion-item>
            </ion-col>
          </ion-row>


          <ion-row class="row">
              <ion-col size="4" size-md="2">
                <h4>Order Id</h4>
              </ion-col>

              <ion-col size="8"  size-md="4" class="pricee">
                <h4>{{myOrder.cartId}}</h4>
              </ion-col>
            </ion-row>

            <ion-row class="row">
                <ion-col size="5" size-md="2">
                  <h4>status</h4>
                </ion-col>
                <ion-col size="2">

                </ion-col>
                <ion-col size="5"  size-md="2"class="pricee">
                  <h4>{{myOrder.status}}</h4>
                </ion-col>
              </ion-row>

              <ion-row class="row">
                  <ion-col size="5" size-md="2">
                    <h4>place on</h4>
                  </ion-col>
                  <ion-col size="2">

                  </ion-col>
                  <ion-col size="5" class="pricee" size-md="2">
                    <h4>{{myOrder.completedOn}}</h4>
                  </ion-col>
                </ion-row>

                <ion-row class="row" justify-content-center>
                    <ion-col size="5" size-md="2">
                      <h4>Total</h4>
                    </ion-col>
                    <ion-col size="2">

                    </ion-col>
                    <ion-col size="5" class="pricee" size-md="2">
                      <h4>{{this.orderTotal}}</h4>
                    </ion-col>
                  </ion-row>

                  <ion-row class="row" align-items-center>
                      <ion-col size="5" size-md="2">
                          <h4>Need help</h4>
                      </ion-col>
                      <ion-col size="2">

                      </ion-col>
                      <ion-col size="5" class="pricee" size-md="2">
                          <h4>contact us</h4>
                      </ion-col>
                    </ion-row>


          <ion-row>
            <ion-col size="12" offset="0" size-md="8"  offset-md="2">
                <ion-list>
                    <ion-item *ngFor="let product of products">
                      <ion-avatar slot="start">
                        <img src="../../assets/images/productImages/newImages/{{product.picture}}" alt="ion"/>                      </ion-avatar>
                      <ion-label class="label">
                        <div class="name">{{product.name}}</div>
                        <h3>{{product.description}} </h3>
                        <h3>Quantity: {{product.price}} *{{product.catagory}} </h3>
                        <h3>Price: {{product.total}}</h3>

                      </ion-label>
                    </ion-item>
                  </ion-list>

            </ion-col>
          </ion-row>

      </ion-grid>


      <ion-grid *ngIf = "doneLoading && langugue">
          <ion-row>
            <ion-col size="12" offset="">
              <ion-item class="confirmationMsg">
                  <h3 class="checkoutTitle">طلبي</h3><br>
              </ion-item>

            </ion-col>
          </ion-row>


          <ion-row class="row">
              <ion-col size="8" size-md="2">
                <h4>{{myOrder.cartId}}</h4>
              </ion-col>

              <ion-col size="4"  size-md="4" class="pricee">
                <h4>رقم الطلب</h4>
              </ion-col>
            </ion-row>

            <ion-row class="row">
                <ion-col size="7" size-md="2">
                    <ion-item>
                        <ion-select [(ngModel)]="statusBothLangugue" okText="اوكيه" cancelText="الغاء">
                          <ion-select-option value="being preparedAfterتحت التحضير">تحت التحضير</ion-select-option>
                          <ion-select-option value="being deliveredAfterيتم التوصيل">يتم التوصيل</ion-select-option>
                          <ion-select-option value="DeliveredAfterتم التوصيل">تم التوصيل</ion-select-option>
                          <ion-select-option value="CancelledAfterملغي">ملغي </ion-select-option>
                        </ion-select>
                      </ion-item>
           </ion-col>

                <ion-col size="5"  size-md="2"class="pricee">
                  <h4>   للزبون الحالة</h4>
                </ion-col>
              </ion-row>

              <ion-row class="row">
                  <ion-col size="7" size-md="2">
                      <ion-item>
                          <ion-select [(ngModel)]="myOrder.statusForUs" okText="اوكيه" cancelText="الغاء">
                            <ion-select-option value="New order">طلب جديد</ion-select-option>
                            <ion-select-option value="يتم التعبيئة">يتم التعبئة</ion-select-option>
                            <ion-select-option value="جاهز للتوصيل">جاهز للتوصيل</ion-select-option>
                            <ion-select-option value="يتم التوصيل">يتم التوصيل</ion-select-option>
                            <ion-select-option value="تم التوصيل">تم التوصيل</ion-select-option>
                            <ion-select-option value="ملغي">ملغي</ion-select-option>



                          </ion-select>
                        </ion-item>


                  </ion-col>
                  <ion-col size="5"  size-md="2"class="pricee">
                    <h4>الحالة لنا</h4>
                  </ion-col>
                </ion-row>

              <ion-row class="row">
                  <ion-col size="5" size-md="2">
                    <h4>{{myOrder.completedOn}}</h4>
                  </ion-col>
                  <ion-col size="2">

                  </ion-col>
                  <ion-col size="5" class="pricee" size-md="2">
                    <h4>تاريخ الطلب</h4>
                  </ion-col>
                </ion-row>

                <ion-row class="row">
                    <ion-col size="5" size-md="2">
                      <ion-input [(ngModel)]="myOrder.customerNumber"></ion-input>
                    </ion-col>
                    <ion-col size="2">

                    </ion-col>
                    <ion-col size="5" class="pricee" size-md="2">
                      <h4>دقم الزبون</h4>
                    </ion-col>
                  </ion-row>

                  <ion-row class="row">
                      <ion-col size="5" size-md="2">
                        <ion-input [(ngModel)]="myOrder.customerName"></ion-input>
                      </ion-col>
                      <ion-col size="2">

                      </ion-col>
                      <ion-col size="5" class="pricee" size-md="2">
                        <h4>اسم الزبون</h4>
                      </ion-col>
                    </ion-row>


                    <ion-row class="row">
                      <ion-col size="5" size-md="2">
                        <ion-input [(ngModel)]="myOrder.cutomerLocation"></ion-input>
                      </ion-col>
                      <ion-col size="2">

                      </ion-col>
                      <ion-col size="5" class="pricee" size-md="2">
                        <h4>عنوان الزبون</h4>
                      </ion-col>
                    </ion-row>


                    <ion-row class="row">
                        <ion-col size="5" size-md="2">
                          <h4>{{myOrder.deliveryTime}}</h4>
                        </ion-col>
                        <ion-col size="2">

                        </ion-col>
                        <ion-col size="5" class="pricee" size-md="2">
                          <h4>موعد التوصيل ن</h4>
                        </ion-col>
                      </ion-row>

                      <ion-row class="row">
                          <ion-col size="5" size-md="2">
                            <h4>{{myOrder.deliveryOption}}</h4>
                          </ion-col>
                          <ion-col size="2">

                          </ion-col>
                          <ion-col size="5" class="pricee" size-md="2">
                            <h4>سرعة الطلب</h4>
                          </ion-col>
                        </ion-row>

                <ion-row class="row" justify-content-center>
                    <ion-col size="5" size-md="2">
                      <div style="display:inline-block">دينار</div><h4 style="display:inline-block; margin-left: 6px;" >{{this.orderTotal}}</h4>
                    </ion-col>
                    <ion-col size="2">

                    </ion-col>
                    <ion-col size="5" class="pricee" size-md="2">
                      <h4>المجموع</h4>
                    </ion-col>
                  </ion-row>




                  <ion-row class="row" align-items-center>
                      <ion-col size="5" size-md="2">
                          <h4>تواصل معنا</h4>
                      </ion-col>
                      <ion-col size="2">

                      </ion-col>
                      <ion-col size="5" class="pricee" size-md="2">
                      <ion-button (click)="updateStatues()">تحديث</ion-button>

                      </ion-col>
                    </ion-row>


          <ion-row>
            <ion-col size="12" offset="0" size-md="8"  offset-md="2">
                <ion-list>
                    <ion-item *ngFor="let product of products">
                      <ion-avatar slot="end">
                        <img src="../../assets/images/productImages/newImages/{{product.picture}}" alt="ion"/>                      </ion-avatar>
                      <ion-label class="labelArabic">
                        <div class="nameArabic">{{product.name}}</div>
                        <h3>{{product.description}} </h3>
                        <div style="display: inline-block;position: relative;
                        top: -5px;
                        left: -6px;"> دينار</div><h3 style="display: inline-block">  {{product.price}} *{{product.catagory}}  : الكمية </h3>
                        <h3>{{product.total}} : السعر</h3>

                      </ion-label>
                    </ion-item>
                  </ion-list>

            </ion-col>
          </ion-row>

      </ion-grid>

      <form *ngIf="doneLoading" [formGroup]="form" (click)="onclick()">
        <ion-input [value] = "[myOrder.location.lat, myOrder.location.lng]"></ion-input>

          <app-location-picker [selectedLocationImage]="orderLocation.staticMapImageUrl" [openMenu] = 'false' (click)="onLocationPicked()"></app-location-picker>
      </form>



  </ion-content>
