
  .timer {
    text-align: center;
    //font-family: Arial, sans-serif;
    font-size: 20px;
    letter-spacing: -1px;
    color: red;

  }
  .timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
  }

  .days{
    display: inline-block;
    //background-color: red;
    font-size: 20px;
   // font-family: Arial, sans-serif;
    margin: 0 3px 0 15px;
       letter-spacing: 0px;





  }



  .timerHeadliners{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    letter-spacing: -1px;
  }

  .timerHeadliners span{
    margin: 0 3px 0 15px;
  }


